{% extends "basecontent.html" %}
{% block contentpage %}

<link href="/static/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet">

<section class="portfolio text text-center">
  <div class="container">
  <br/><br/>
    <div class="row">
        <div class="col">
          <h2 class="text-center text-uppercase text-secondary mb-0">Perfil</h2>
          <hr class="star-dark mb-5">
        </div>
      </div>
    <div class="row">
        <div class="col-4">
            <!--left col-->
            <table class="table table-bordered table-active">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" colspan="2">Perfil</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-primary">
                    <td>Username</td>
                    <td>{{ current_user.username }}</td>
                  </tr>
                  <tr class="table" style="background-color: #94bbe0">
                    <td>Email</td>
                    <td>{{ current_user.email }}</td>
                  </tr>
                  <tr class="table-primary">
                    <td>Tipo de Usuario</td>
                    <td>{{ current_user.tipo_usuario }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <!--
        <ul class="list-group ml-4">
            <li class="list-group-item text-muted" contenteditable="false">Profile</li>
            <li class="list-group-item list-group-item-primary"><span class="pull-left font-weight-bold">Username</span><p class="text-right">{{ current_user.username }}</p></li>
            <li class="list-group-item list-group-item-primary"><span class="pull-left font-weight-bold">email</span><p class="text-right">{{ current_user.email }}</p></li>
            <li class="list-group-item list-group-item-primary"><span class="pull-left font-weight-bold">Tipo de Usuario</span><p class="text-right">{{ current_user.tipo_usuario }}</p></li>
            <li class="list-group-item list-group-item-primary"><span class="pull-left font-weight-bold">Usuarios registrados</span><p class="text-right">20</p></li>
            <li class="list-group-item list-group-item-primary"><span class="pull-left font-weight-bold">Carteles validados</span><p class="text-right">37</p></li>
        </ul>-->

        <div class="col-8">
          <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Solicitudes de registro de sesión pendientes
                      </button>
                    </h5>
                  </div>
                  
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="list-group" style="overflow-y: auto; overflow-x: auto">
                          {% if users %}
                            {% for user in users %}
                            <li class="list-group-item list-group-item-primary">
                              <div class="container">
                                <div class="row">
                                  <div class="col-8" style="float:left;">
                                    <p>El usuario con correo: {{ user.email }} ha solicitado registrarse.</p>
                                  </div>
                                  <div class="col-2">
                                    <form action="validateUser" method="post" novalidate style="color:#222;">
                                      <p>{{ form.user(value=user.username) }} {{ form.action(value="validate") }} {{ form.validate(class="btn-success") }}</p>
                                    </form>
                                  </div>
                                  <div class="col-2">
                                    <form action="validateUser" method="post" novalidate style="color:#222;">
                                      <p>{{ form.user(value=user.username) }} {{ form.action(value="invalidate") }} {{ form.deny(class="btn-danger") }}</p>
                                    </form>
                                  </div>
                                </div>
                            </div>
                            </li>
                            {% endfor %}
                          {% else %}
                          <li class="list-group-item list-group-item-primary">
                            <p>No hay solicitudes pendientes</p>
                          </li>
                          {% endif %}
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Solicitudes para publicar un cartel pendientes
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                            <ul class="list-group" style="overflow-y: auto; overflow-x: auto">
                                <li class="list-group-item alert list-group-item-secondary">
                                El usuario 735508 quiere publicar cartel con pregunta: <a href="posterValidation" class="alert-link">¿Cúal es la principal causa de contaminación en Aragón?</a>.
                                </li>
                                <li class="list-group-item list-group-item-primary">
                                El usuario 735508 quiere publicar cartel con pregunta: <a href="posterValidation" class="alert-link">¿Por qué es tan difícil beberse de un trago un litro de cerveza?</a>.
                                </li>
                                <li class="list-group-item alert list-group-item-secondary">
                                El usuario 737317 quiere publicar cartel con pregunta: <a href="posterValidation" class="alert-link">¿Cúal es la principal causa de contaminación en Aragón?</a>.
                                </li>
                                <li class="list-group-item list-group-item-primary">
                                El usuario 651943 quiere publicar cartel con pregunta: <a href="posterValidation" class="alert-link">¿Por qué es tan difícil beberse de un trago un litro de cerveza?</a>.
                                </li>
                            </ul>
                    </div>
                  </div>
                </div>
        </div>
    </div>
</section>
    

    <section class="masthead bg-primary text-white text-center"></section>

    <section class="text-white text-center">

        <h2 class="text-center text-uppercase text-secondary mb-0">Exportar Datos</h2>
        <hr class="star-dark mb-5">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Exportar Datos
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Excell</a>
              <a class="dropdown-item" href="#">CSV</a>
              <a class="dropdown-item" href="#">SQL</a>
            </div>
          </div>
        </div>
    </section>
    {% endblock %}