{% extends "basecontent.html" %}
{% block contentpage %}

<!--<link href="/static/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet">-->

<section  class="portfolio text text-center">
 <div class="container">
<br/><br/>
<div class="row">
    <div class="col">
        <h2 class="text-center text-uppercase text-secondary mb-0">Perfil</h2>
        <hr class="star-dark mb-5">
    </div>
    </div>
    <div class="row">
        <div class="col-4">
            <table class="table table-bordered table-active">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" colspan="2">Perfil</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table"  style="background-color: #94bbe0">
                    <td>Username</td>
                    <td>{{ current_user.username }}</td>
                  </tr>
                  <tr class="table-primary">
                    <td>Nombre</td>
                    <td>{{ current_user.nombre }}</td>
                  </tr>
                  <tr class="table" style="background-color: #94bbe0">
                    <td>Apellidos</td>
                    <td>{{ current_user.apellidos }}</td>
                  </tr>
                  <tr class="table-primary">
                    <td>NIA</td>
                    <td>{{ current_user.nia }}</td>
                  </tr>
                  <tr class="table" style="background-color: #94bbe0">
                    <td>Email</td>
                    <td>{{ current_user.email }}</td>
                  </tr>
                  <tr class="table-primary">
                    <td>Tipo de Usuario</td>
                    {% if current_user.tipo_usuario == 1 %}
                    <td>Administrador</td>
                    {% elif current_user.tipo_usuario == 2 %}
                    <td>Alumno</td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-8">
          <!--<div class="panel panel-primary" id="result_panel">
              <div class="panel-heading"><h3 class="panel-title">Ultimas actualizaciones en tus carteles</h3></div>
            <div style="height: 550px" class="panel-body">
              <ul class="list-group">
                {% for post in posts %}
                    {% if post.corregido == 1  %}
                        <li class="list-group-item alert list-group-item-success">
                            El cartel con pregunta: <a href="poster/{{ post.id }}" class="alert-link">{{ post.pregunta }}</a>. Ha sido acceptado.
                        </li>
                    {% elif post.corregido == 2 %}
                        <li class="list-group-item alert list-group-item-danger">
                            El cartel con pregunta: <a href="poster/{{ post.id }}" class="alert-link">{{ post.pregunta }}</a>. Ha sido rechazado.
                        </li>
                    {% endif %}
                {% endfor %}
              </ul>
            </div>
        </div> -->

        <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Últimas actualizaciones de tus carteles
                      </button>
                    </h5>
                  </div>
                  
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                            <ul class="list-group" style="overflow-y: auto; overflow-x: auto">
                                    {% for post in posts %}
                                        {% if post.corregido == 1  %}
                                            <li class="list-group-item alert list-group-item-success">
                                                El cartel con pregunta: <a href="poster/{{ post.id }}" class="alert-link">{{ post.pregunta }}</a>. Ha sido acceptado.
                                            </li>
                                        {% elif post.corregido == 2 %}
                                            <li class="list-group-item alert list-group-item-danger">
                                                El cartel con pregunta: <a href="poster/{{ post.id }}" class="alert-link">{{ post.pregunta }}</a>. Ha sido rechazado.
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                            </ul>
                    </div>
                  </div>
            </div>

        </div>
</div>
</div>
</section>

{% endblock %}